.jMenu{
	display: table;
	margin-top: 26px;
	margin-left: 131px;
	margin-bottom: -8px;
	padding: 0;
	list-style: none;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
	border-radius: 8px;
}

.jMenu li {
	display: table-cell;
	background-color: #613F2A;
	list-style: none;
	background-image: linear-gradient(#7F411C  0%, #42220F 50%, #7F411C 100%);


}

#home {
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}


#homeicon {
	margin-bottom: -3px;
}

#asociate {
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}
.jMenu li a {
	padding: 10px 15px;
	display: block;
	background-color: transparent;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 12px;
	text-decoration: none;
	border-right: 1px groove #FFFFFF;
	
}

.jMenu li a:hover {
	background-color: #EFA734;

}

.jMenu li#home.jmenu-level-0 a:hover {
	background-color: #EFA734;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.jMenu li#asociate a:hover { 
	background-color: #EFA734;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;

}
.jMenu li#asociate a { 
	border-right: none;

}


.jMenu li:hover>a{background-color:#EFA734 }

.jMenu li ul{
	display: none;
	position: absolute;
	z-index: 9999;
	padding: 0;
	margin: 0;
	list-style: none;
}

.jMenu li ul li{
	background-color:#EFA734 ;
	display: inline-block;
	border-bottom: 1px solid #613F2A;
	padding: 0;
	list-style: none;
	position: relative


}

.jMenu li ul li a {
	background-color: #42220F;
	font-size: 12px;
	text-transform: none;
	display: block;
	padding: 7px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	border-right-style: none;

}

.jMenu li#aboutus ul li a {
	width: 111px;

}
.jMenu li#servicios ul li a {
	width: 85px;

}

.jMenu li#prensa ul li a {
	width: 121px;
}

.jMenu li#asociate ul li a {
	width: 75px;
}




.jMenu li ul li a.isParent {
	background-color:#42220F;
}

.jMenu li ul li a:hover{background-color:#EFA734; border-top:1px solid #322f32;border-bottom:1px solid #322f32}
