@font-face {
    font-family: playFairDisplay;
    src: url(../fonts/PlayfairDisplay-Bold.ttf);
}

@font-face {
    font-family: scriptina;
    src: url(../fonts/SCRIPTIN.ttf);
}

@import url('https://fonts.googleapis.com/css?family=Alegreya');

.navbar {
    position: absolute;
    margin: 0 auto;
    margin-bottom: 0px;
    color: white;
}

a {
    color: white;
}

#logo-navbar {
    font-family: scriptina;
    font-size: 2.5em;
}

.navbar,
.navbar:hover {
    background-color: #000;
    opacity: 0.4;
    height: 6%;
}

.nav.navbar-nav {
    width: 75%;
}

.navbar-nav li {
    padding-top: 0.5%;
    padding-left: 8%;
}

.navbar-nav li img {
    padding-top: 15%;
}

.liSeparator {
    margin-top: 1%;
    font-weight: bold;
}


/********************************/

.header_content {
    position: relative;
}

#header_title {
    color: white;
    font-family: playFairDisplay;
    font-size: 92pt;
    letter-spacing: 10px;
    position: absolute;
    top: 30%;
    left: 26%;
}

#header-subtitle {
    color: white;
    position: absolute;
    font-size: 2.5em;
    top: 55.5%;
    left: 32%;
    letter-spacing: 2.5px;
}

#header-subtitle-2 {
    color: white;
    position: absolute;
    top: 59%;
    left: 41%;
    font-size: 2.5em;
    letter-spacing: 2.5px;
}

#dashed-line {
    position: absolute;
    top: 51%;
    left: 46%;
}

#img-bottom-header {
    position: absolute;
    top: 96%;
    left: 47%;
    z-index: 1
}

#border-bottom-header {
    position: absolute;
    top: 97.1%;
    left: 50.65%;
    z-index: 0
}

#img-right-content {
    display: block;
    margin: 8% auto;
    width: 75%;
}


/***********************************/

.center-text {
    text-align: center;
}

#text-left {
    margin-top: 3.5%;
}

.alegreya {
    font-family: 'Alegreya', serif;
    font-weight: bold;
}

#title-left-content {
    font-size: 48px;
    color: #56534c;
}

#subtitle-left-content {
    font-size: 14px;
    color: #a47d5e;
    font-weight: bold;
}

#lorem {
    margin: 4% auto;
    max-width: 50%;
    line-height: 28px;
    font-size: 1.2em;
}

#avatar-text {
    display: block;
    margin: 3% auto 15% auto;
}

#avatar {
    display: block;
    margin: 3% auto;
}

#chef-cook {
    font-size: 1.6em
}


/***********************************/

#pancakes-text {
    position: relative;
}

#pancakes-title {
    position: absolute;
    top: 27%;
    left: 47%;
    font-family: alegreya;
    font-size: 3em;
    color: #56534c;
    font-weight: bold;
}

#pancakes-subtitle {
    position: absolute;
    top: 33%;
    left: 47%;
    text-transform: uppercase;
    font-family: alegreya;
    color: #a47d5e;
    font-weight: bold;
    font-size: 1.1em
}

#lorem-pancakes {
    max-width: 50%;
    font-size: 1.2em;
    position: absolute;
    top: 45%;
    left: 47%;
    width: 25%;
    font-size: 1em;
}

#pancakes-img {
    position: absolute;
    top: 70%;
    left: 46%;
}

#pancakes-img>img {
    padding-left: 40px;
    display: inline-block;
}


/**********************************/

#text-container {
    position: relative;
}

#breakfast-text {
    position: absolute;
    top: 13%;
    left: 17%;
    color: white;
    width: 25%;
}

#breakfast-title {
    font-size: 4em;
    letter-spacing: 2px;
}

#breakfast-subtitle {
    font-size: 1.5em;
    font-variant: small-caps;
    color: #a47d5e;
    margin-top: -4%;
}

#full-breakfast {
    margin-top: 12%;
    font-size: 2em;
    letter-spacing: 2px;
}

.lorem-breakfast {
    color: #c2beba;
    font-size: 16px;
}

.breakfast-price {
    color: #dfc691;
    font-size: 36pt;
}

#toast {
    margin-top: 12%;
    font-size: 2em;
    letter-spacing: 2px;
}

#muffins {
    margin-top: 12%;
    font-size: 2em;
    letter-spacing: 2px;
}

#breakfast-text-card {
    position: absolute;
    top: 35%;
    right: 14.3%;
    width: 19%;
}

.card-title {
    font-size: 4em;
    color: #56534c;
}

#lorem-card {
    color: #56534c;
    font-family: Myriad Pro regular;
    padding-top: 12%;
    line-height: 36px;
    font-size: 1.5em
}


/**********************************/

.wrapper-jibarrito {
    background-color: #f3f1e9;
    position: relative;
}

#sandwich-molino {
    margin: 3% auto;
    position: absolute;
    left: 47.8%;
}

#molino-text :first-child {
    position: absolute;
    width: 99.3%;
    height: auto;
    top: 14%;
    font-size: 4em;
    color: #56534c;
}

#molino-text :nth-child(2) {
    position: absolute;
    width: 99.3%;
    top: 22%;
    font-variant: small-caps;
    font-size: 1.8em;
    color: #a47d5e;
}

.wrapper {
    position: relative;
    width: 100%;
    text-align: center;
}

#sandwich-left-img {
    display: block;
    margin-bottom: 55%;
    margin-left: auto;
    margin-right: auto;

}

#sandwich-img {
    position: absolute;
    right: 16%;
    width: 75%;
}

.row-margin {
    margin-top: 375px;
}

.wrapper > div {
    position: absolute;
    top: 21%;
    font-family: alegreya;
    width: 100%;

}

.wrapper > div:nth-child(2) {
    position: absolute;
    top: 61%;
    font-family: alegreya;
    width: 100%;

}

.wrapper > div:nth-child(3) {
    position: absolute;
    top: 100%;
    font-family: alegreya;
    width: 100%;
}

.wrapper > div > p:first-child {
    font-size:2em;
    color: #a47d5e;
}

.wrapper > div > p:nth-child(2) {
    font-size:1.2em;
    letter-spacing: 1.2px

}

/***********************************/

@media all and (max-width: 2559px) {
    .navbar-nav>li {
        padding-top: 0.8%;
        padding-left: 5%;
    }
    .navbar.navbar-fixed-top {
        padding-left: 12%;
    }
    #lorem {
        font-size: 1.5em;
        font-weight: 500;
    }
    #lorem-pancakes {
        font-size: 1.5em;
        font-weight: 500;
    }
    #lorem-card {
        font-size: 1.5em;
        padding-top: 5%;
    }
}

@media all and (max-width: 1920px) {
    #header_title {
        font-size: 6em;
    }
    #header-subtitle,
    #header-subtitle-2 {
        font-size: 1.5em;
    }
    .navbar-nav>li {
        padding-top: 0.3%;
        padding-left: 3%;
    }
    .card-title {
        font-size: 2.5em;
    }
    #pancakes-subtitle {
        padding-top: 1%;
    }
    #lorem-card {
        padding-top: 9%;
        line-height: 23px;
        font-size: 1em;
        font-weight: 500
    }
    #lorem-pancakes {
        font-size: 1.2em;
        font-weight: 500;
        top: 42%;
    }
    #muffins,
    #toast,
    #full-breakfast {
        margin-top: 6%
    }
    #img-right-content {
        margin: 16% auto;
    }
}

@media all and (max-width: 1439px) {
    #pancakes-img>img {
        padding-left: 17px;
        height: 75px;
    }
    .navbar-nav>li {
        padding-top: 0.3%;
        padding-left: 2.5%;
    }
    .card-title {
        font-size: 2.5em;
    }
    #lorem-card {
        font-size: 1em
    }
}

@media all and (max-width: 1366px) {
    .navbar-nav>li {
        padding-top: 0.3%;
        padding-left: 2.5%;
    }
    .nav.navbar-nav {
        width: 80%;
    }
    .card-title {
        font-size: 2em;
    }
}


}
@media all and (max-width: 1024px) {
    .card-title {
        font-size: 0.5em;
    }

    #header_title {
        font-size: 1.2em;
    }
}
@media all and (max-width: 992px) {
    #img-bottom-header,
    #sandwich-img,
    #pancakes-text,
    #text-container {
        display: none;
    }
}
@media all and (max-width: 480px) {
    #header_title {
        font-size: 0.8em;
    }
}



