@charset "utf-8";
/* CSS Document */

#dialogoverlay { 
	display: none;
	opacity: .8;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #000;
	width: 100%;
	z-index: 10;
}

#dialogbox { 
	display: none;
	position: fixed;
	background: #eee;
	border-radius: 7px;
	width: 400px;
	z-index:10;
}

#dialogbox > div {
	background: #fff;
	margin: 8px;
}

#dialogbox > div > #dialogoboxhead {
	background-color: #666;
	padding: 10px 40px;;
	color: #fff;
	background-repeat: no-repeat;
	background-position: 2% 50%;
}

#dialogbox > div > #dialogoboxbody {
	background: #333;
	padding: 20px;
	color: #fff;
}

#dialogbox > div > #dialogoboxfoot {
	background: #666;
	padding: 10px;
	text-align: center;
}


