@charset "utf-8";
/* CSS Document */


body {
color: #777777;	
	
}

#galeriasCont {
	
	width: 975px;
	margin: auto;
}

#galeriasCont > div#galeriasCont2 {
	background: #eeeeee;
	box-shadow: 0 0 0px black;
	
}

#galeriasCont > div {
	box-shadow: 0 0 4px black;
	overflow:auto;
	padding-left: 25px;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-bottom:15px;
	background: white;
	color: #000;
	border-radius:8px;
}

#galeriasCont2 > p:nth-child(3) { 
	margin-left: 50px;


}

#galeriasCont > div img { 
	height: 200px;
	float: left;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
	margin-top: 10px;

}

#galeriasCont > div > p {
	margin-left: 230px;
	margin-right: 20px;
	color: #000;
}

#galeriasCont > div > a {
	margin-left: 30px;
}


.colortitulo, .colortexto {
	color: #EEA640;

}
.titulocont2 {
	color: #777777;
	text-align: center;
	padding-top: 35px;
	font-size: 29px;
}
p.texto1cont2 {
	color: #777777;
	padding-top: 0px;
	text-align: center;
	padding-bottom: 25px;

}

#galeriasCont2 > p:nth-child(3) {
	text-align: justify;
	width: 768px;
}

#listadoFotos > div {
	display: inline-block;
	vertical-align: top;
	padding: 10px;
	border: 1px solid #ddd;
	margin: 4px;
	width: 200px;	
}

#listadoFotos > div img {
	height: 200px;

	
}
#tituloFoto { 
	margin-top: 218px;
	margin-left: 0px;
	margin-bottom: -5px;
}

