@charset "utf-8";

body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-image: url("../images/bg8.png"), url("../images/bg10c.jpg");
	background-attachment: fixed;
	-webkit-background-attachment: fixed;
}

.container {
	width: 1060px;
	background-color: #FFFFFF;
	margin-right: auto;
	margin-left: auto;
	border-radius: 8px;
}
.header {
	background-color: #FFFFFF;
	height: 150px;
	padding-left: 20px;
	margin-top: 0px;
	margin-left: 30px;	

}
	
.header1 {
	height: 30px;
	padding-top: 7px;
	padding-bottom: 3px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	background-image: linear-gradient(#673517 0%, #42220F  50%, #673517 100%);

	

}
.header1 a {
	color: #FFFFFF;
	font-size: 11px;
	margin-right: 30px;
	text-decoration: none;
	position: relative;
}
#enlacesheader {
	text-align: right;	
	float: right;
}
span#language {
	color: #FFFFFF;
	font-size: 11px;
	margin-left: 30px;
}

#gifbanderas {
	position: relative;
	top: 2px;
	margin-left: 2px;
}
#ACIB {
	margin-left: 55px;
	position: relative;
	left: -32px;
}

.content {
	padding-bottom: 10px;
	width: 591px;
	padding-left: 15px;
	padding-top: 40px;
}

.content2 {
	width: 591px;
	float: left;
	margin-left: 14px;
}
.content3 {
	width: 591px;
	float: left;
	margin-top: 21px;
	margin-bottom: 39px;
}

aside, aside#asociados {
	float: right;
	width: 368px;
	background-color: #FFFFFF;
	padding-top: 10px;
	margin-left: 0px;
	margin-right: 30px;
	position: relative;
	top: 91px;
}

#form {
	font-size: 11px;
	color: #000000;
	margin-top: 0 px;
	float: right;
	top: -132px;
	right: 134px;
	position: relative;
}

#newsletters {
	width: 368px;
	position: relative;
	float: right;
	top: -145px;
	right: 30px;
}


#enviar {
	margin-top: 4px;
	position: relative;
	float: right;
	right: 49px;
}

#enviar2 {
	position: relative;
	top: 7px;
}

#enviar3 {
	position: relative;
	top: 13px;
	left: 39px;
}
#emailnews {
	border-radius: 8px;
	
}

#imgnewsletter {
	position: relative;
	float: none;
	margin-right: 33px;
	right: -49px;
	top: 29px;
}

#emailbox {
	border-radius: 8px;
	margin-top: 0px;
	margin-left: 6px;
	max-width: 130px;
	border: 1px solid #4e3022;
}
#contraseñabox {
	border-radius: 8px;
	max-width: 130px;
	margin-top: 4px;
	margin-left: 6px;
	border: 1px solid #4e3022;
}
#login {
	font-size: 11px;
	color: #000000;
	margin-top: -88px;
	float: right;
	margin-right: 20px;
	position: relative;
	right: -99px;
	top: 6px;
	display: none;
}


.titulosseccion {
	font-size: 13px;
	background-color: #613F2A;
	color: #FFFFFF;
	padding-bottom: 1px;
	padding-top: 1px;
	border-radius: 8px;
	background-image: linear-gradient(#673517 0%, #42220F  50%, #673517 100%);
	box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
}

h2.titulosseccion{
	text-align: center;
}

.noticias { 
	position: relative;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
}

.culturales {
	position: relative;
	float: left;
	margin-bottom: 10px;
	box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
	margin-right: 10px;
	left: 16px;
	top: 10px;
}

#calendario {
	color: #000;
	font-size: 13px;

}

.asociadosimg {
	position: relative;
	float: left;
	margin-right: 12px;
	margin-bottom: 11px;
	box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
	margin-left: 12px;
	margin-top: 11px;
	transform: rotate(0deg);
	transition: transform 1s;

}

.asociadosimg:hover { 
	transform: rotate(360deg)	

}


.noticias:hover, .banderaimg:hover, .culturales:hover {
	opacity: 0.5;
	transition-duration: 0.3s;

}

#asociados {
	margin-top: -111px;
}

.asociadosimg1 {
	margin-left: 23px;
}	


#mapa {
	margin-left: 20px;
	position: relative;
	top: 8px;
}

#redessociales a {
	text-decoration: none;
	position: relative;
	left: 93px;
	top: 7px;
}

#redessociales {
	margin-top: -1px;
	position: relative;
	top: 7px;
}

.redessocialesimg { 
	transform: rotate(0deg);
	transition: transform 1s;
}

.redessocialesimg:hover { 
	transform: rotate(360deg)	
}

#mostrar {
	float: right;
	top: -119px;
	position: relative;
	right: 63px;
} 

#googlemaps {
	position: relative;
	top: 4px;
}



/* ~~ FOOTER: El pie de página ~~ */
footer {
	padding-top: 20px;
	background-color: #42220F;
	clear: both;
	color: #FFFFFF;
	font-size: 11px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	height: 301px;
	overflow:hidden;


}

footer a {
	color: #FFFFFF;
	text-decoration: none;
}

#footer2 {
	text-align: center;
	position: relative;
	clear: both;
	top: -165px;
}

.contentfooter {
	width: 200px;

}

.content2footer {
	position: relative;
	top: -176px;
	left: 443px;
}

#imagenfooter { 

	border: 5px solid #eaeaea;


}

.contentfooter li {
	background: url("../images/sidebar_bg_dotted.png") repeat-x bottom;
	padding-top: 5px;
	padding-bottom: 5px;
	list-style-position: inside;

}


#asidefooter {
	background: transparent;
	position: relative;
	top: -79px;
	left: -333px;
	text-align: center;
}

#emailboxfooter {
	border-radius: 8px;
	width: 190px;
	border: 1px solid #FFFFFF;
}
#asuntoboxfooter {
	border-radius: 8px;
	width: 190px;
	border: 1px solid #FFFFFF;

}

#textareafooter { 
	border-radius: 8px;
	width: 186px;
	height: 86px;
	border: 1px solid #FFFFFF;
}

#contacto {
	color: rgba(255,255,255,1.00);
	position: relative;
	left: 63px;
	top: 5px;
}

#contact {
	font-size: 11px;
	color: #000000;
	position: relative;
	right: -347px;
	top: -213px;
	float: right;
}
