@charset "utf-8";
/* CSS Document */

body {
height: auto; 	
	
}

#GuardarCambios { 
	margin-top:20px;
	margin-bottom:20px;
}

.fotosOrdenar  {
	display: inline-block;
}

.invisible > img { 
	opacity: 0.2;
    filter: alpha(opacity=20);

}

.invisible > img:hover { 
	opacity: 1.0;
    filter: alpha(opacity=100);

}


#select { 
	margin-left: 10px;


}

.fotosOrdenar > img, .fotosOrdenar > p, .fotosOrdenar > a {
	margin-left: 35px;
}
